<!--<h3>Categories List</h3>

<ul>
  <li ng-repeat="category in $ctrl.categories"
      ui-sref="categories.items({categoryShortName: category.short_name})"
      ui-sref-active="active">
          {{ category.name }}
  </li>
</ul>
-->
<h2>Menu Categories</h2>
  <p><a ng-repeat="category in $ctrl.categories"
      ui-sref="categories.items({categoryShortName: category.short_name})"
      ui-sref-active="active">
          {{ category.name }}
  </a><p>

<!--
<button type="button" class="btn btn-sm btn-default btn-category text-uppercase"
    ng-repeat="category in $ctrl.categories"
    ui-sref="categories.items({categoryShortName: category.short_name})"
    ui-sref-active="active">
        {{ category.name }}
</button>-->
